{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <ul>
        {% for category in categories %}
            <li>{{ category.category.name }}{{ category.count }}<span class="badge bg-secondary">New</span></li>

        {% endfor %}
     </ul>

{% endblock %}
