{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <ul>
        <li>{{ category.name }}</li>
    </ul>
    {{ include('contact/_contacts.twig', {contacts: category.contacts, show_category:false}) }}
{% endblock %}
