{% extends 'base.html.twig' %}

{% block title %}Contact !{% endblock %}
{% block body %}
    <h1>Hello Contact!</h1>
    <ul>
    {% for contact in contacts %}
        <li> Hello {{ contact.firstname }} </li>
    {% endfor %}
    </ul>
{% endblock %}
