{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}
{% block body %}
    <h1>Liste des contacts</h1>
    <ul>
    {% for contact in contacts %}
       <li> <a href="{{ path('app_contact/show',{id: contact.id}) }}">{{ contact.firstname }} {{ contact.lastName }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
