{% extends 'base.html.twig' %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        {% block title %}Hello HelloController!{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    </head>
    {% block body %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    {% endblock %}
    <ul>
        <li><a href="{{ path('app_hello_manytimes',{name: "Joe", times: 5}) }}">Joe, 5</a></li>
        <li><a href="{{ path('app_hello_manytimes',{name: "Bob", times: 8}) }}">Bob, 8</a></li>
    </ul>
    {% endblock %}
</html>
